.hero{
    @include Display ( $ai:start ,$jc:space-between , $g:0px );

    // Mobile media
    @media (max-width:855px){
      @include  Display ( $ai:center ,$jc:space-between , $g:0px );
      flex-direction: column-reverse;

    }
}
// Hero first part
.hero__firs-wrapper{
     max-width: 560px;
    padding: 180px 0  150px 0;
     // Tablet media 
     @media (max-width:1125px){
       text-align: center;
       margin: 0 auto;
    }
    &>h2{
        @include TextStyle ($fw:700, $fs:40px, $lh:100%, $ls:0%, $clr: $color-black );
        width: 100%;
        &>span{
            @include TextStyle ($fw:700, $fs:40px, $lh:100%, $ls:0%, $clr: $color-blue );
        }
    }
    .hero__text{
        @include TextStyle ($fw:400, $fs:18px, $lh:100%, $ls:0%, $clr: $color-black);
        width: 100%;
        padding: 40px 0 50px;
    }
    &__buttons-wrapper{
       @include Display ( $ai:center ,$jc:space-between , $g:0px );
    }
    .button1{
        @include ButtonStyle ( $btnClr: $color-white, $btnBg:$color-btn, $btnBordClr:transparent);
        transition: all 0.4s;
        &:hover{
            @include ButtonStyle ( $btnClr: $color-black, $btnBg:$color-white, $btnBordClr:$color-btn);
        }
       }
       .button2{
        @include ButtonStyle ( $btnClr: $color-black, $btnBg:$color-white, $btnBordClr:$color-btn);
        transition: all 0.4s;
        margin-left: 40px;
        &:hover{
            @include ButtonStyle ( $btnClr: $color-white, $btnBg:$color-btn, $btnBordClr:transparent);
        }
       }
}
// Hero second part
.hero__second-wrapper{
    margin-bottom: 30px;
     position: relative;
     width: 645px;
     height: 645px;
     right: 0;
     left: 30px;
     overflow-y: hidden;

      //   Tablet media 
    @media (max-width:1125px){
        display: none;
    }

      // Mobile media
      @media (max-width:855px){
       display: block;
      }
    @media (max-width:729px){
        display: none;
    }
    .hero__background{
        background-color:  #EDEBFA;
        border-radius: 50%;
        width: 95%;
        height: 100%;
        position: absolute;
        top: 250px;
        right: 0px;

        &>img{
            position: absolute;
            top: -250px;
            right: 95px;
        }
    }
   
}